@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styling */
body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.3;
}

html {
  font-size: 18px;
}

@media not all and (min-resolution:.001dpcm) { @supports (-webkit-appearance:none) {
  html {
    font-size: 15px;
  }
}}

/* Utility for edge-aligned sections */
.edge-align {
  max-width: 100vw;
  padding-left: 2vw;
  padding-right: 2vw;
  margin-left: 0;
  margin-right: 0;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  margin-top: 1.2em;
  margin-bottom: 0.5em;
}

p {
  line-height: 1.4;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
